/* Style 1*/
*{
margin: 0;
padding: 0;
}
body,html{

height: 100%;
font-family: 'Alegreya', serif;
}
.loginbody{
background-color: #28323C;
height: 100%;

}
.card {

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  opacity: .90;
  width: 110%;
}
/*for nav try*/

.sidebar {
    color: #FFF;
    background:#5B1D24 /**/;
    width: 250px;
    max-width: 250px;
    float: left;
    z-index: 1000;
    display: block;
    -webkit-transition: margin 1s;
    transition: margin 1s;
    flex:1;
    opacity: .80;

}
.cardprop
{
    background: rgba(0,0,0,0.8);
    color: black;
    padding: 1rem;
    
}
.card{

    padding:20px;
    opacity: .85;
}
#navbar-toggle {
    cursor: pointer;
}
#toggleView {
    margin-left: 44px;
}
.menu-icon {
    float: right;
}
.sidebar-nav {
    display: block;
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-nav li a {
    padding-left: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #FFF;
    float: left;
    text-decoration: none;
    width: 100%;
    height: 70px;
    line-height: 25px;
    padding: 20px;
    vertical-align: center;
}
.sidebar-nav li a:hover {
    background:#121213;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}
#mainNav {
  
    height: 70px;
    margin-top: 0px;
    display: inline-block;
    width: 100%;
}
.mainbody{
    background:#70333A;
    height: 100%; 
}
.container {
  width: 100%;
  padding: 0px 35px;
}
.containerevent {
  display: flex;
  flex-direction: row;
  margin:auto;
}
.task_container {
  border: solid black;
  border-width: 3 3px 3px 3;
  width: auto;
  text-align: left;
  color: #3b3b3b;
  font-weight: bold;
  opacity: .80;

}
.accounting_container {
  border: solid black;
  border-width: 3 3px 3px 3;
  width: auto;
  text-align: left;
  color: #3b3b3b;
  font-weight: bold;
  background-color: white;

}
.maincontents{
    
    color: black;
    padding: 1rem;
    margin-left: 15rem;
    margin-top: 2rem;
    width: auto;
}
/*card*/
@media(max-width: 700px){

     h1{
        font-family: Italic;
    }
}

.footer {
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: #000000;
 opacity: .50;
 color: white;
 text-align: center;
}

#icon{
background-image:url(../images/email.png); 
background-repeat: no-repeat; 
background-position: 3px 5px;
}
#icon1{
background-image:url(../images/padlock.png); 
background-repeat: no-repeat; 
background-position: 3px 5px;
}
#icon2{
background-image:url(../images/job.png); 
background-repeat: no-repeat; 
background-position: 3px 5px;
}
#icon3{
background-image:url(../images/name1.png); 
background-repeat: no-repeat; 
background-position: 3px 5px;
}

@media(max-width: 700px){

    h1{
       font-family: Italic;
   }
}

.circ {
      
       border-radius: 12px;
      
   }
.modal-dialog{
    position: relative;
    display: table; /* This is important */ 
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
}
/* Style 2*/
.group {
  &:after {
    content: "";
    display: table;
    clear: both;

  }
}

.calendar-wrapper {

  width:300px;
  padding:1em;
  border:1px solid rgb(220,220,255);
  border-radius:5px;
  background:#fff;
}
table {
  clear:both;
  width:100%;
  border:1px solid rgb(220,220,255);
  border-radius:3px;
  border-collapse:collapse;
  color:#444;
  background-color: white;
}
td {
  height:48px;
  text-align:center;
  vertical-align:middle;
  border-right:1px solid rgb(220,220,255);
  border-top:1px solid rgb(220,220,255);
  width:100% / 7;
}
td.not-current {
  color:#c0c0c0;
}
td.normal {}
td.today {
  font-weight:700;
  color:rgb(40,40,59);
  font-size:1.5em;
}
thead td {
  border:none;
  color:rgb(40,40,59);
  text-transform:uppercase;
  font-size:1.5em;
}
th{
   text-align: center;
}
#btnPrev {
  float:left;
  margin-bottom:10px;
  &:before {
    content:'\f104';
    font-family:FontAwesome;
    padding-right:4px;
  }
}
#btnNext {
  float:right;
  margin-bottom:10px;
  &:after {
    content:'\f105';
    font-family:FontAwesome;
    padding-left:4px;
  }
}
#btnPrev, #btnNext {
  background:transparent;
  border:none;
  outline:none;
  font-size:1em;
  color:#c0c0c0;
  cursor:pointer;
  font-family:"Roboto Condensed", sans-serif;
  text-transform:uppercase;
  transition:all 0.3s ease;
 
}
#btnPrev:hover, #btnNext:hover {
    color:rgb(40,40,59);
    font-weight:bold;
  }

/* declare a 7 column grid on the table */
#calendar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#calendar tr, #calendar tbody {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
 width: 100%;
}

caption {
  text-align: center;
  grid-column: 1 / -1;
  font-size: 130%;
  font-weight: bold;
  padding: 10px 0;
}

#calendar a {
  color: #8e352e;
  text-decoration: none;
}

#calendar td, #calendar th {
  padding: 5px;
  box-sizing:border-box;
  border: 1px solid #ccc;
}

#calendar .weekdays {
  background: #8e352e;  
}

#calendar .weekdays th {
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  border: none !important;
  padding: 10px 6px;
  color: #fff;
  font-size: 13px;
}

#calendar td {
  min-height: 180px;
  display: flex;
  flex-direction: column;
}

#calendar .days li:hover {
  background: #d3d3d3;
}

#calendar .date {
  text-align: center;
  margin-bottom: 5px;
  padding: 2px;
  background: #333;
  color: #fff;
  width: 27px;
  border-radius: 50%;
  flex: 0 0 auto;
  align-self: flex-end;
}

#calendar .event {
  flex: 0 0 auto;
  font-size: 13px;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 5px;
  line-height: 14px;
  background: #e4f2f2;
  border: 1px solid #b5dbdc;
  color: #009aaf;
  text-decoration: none;
}

#calendar .event-desc {
  color: #666;
  margin: 3px 0 7px 0;
  text-decoration: none;  
}

#calendar .other-month {
  background: #f5f5f5;
  color: #666;
}
/* ============================
        Mobile Responsiveness
   ============================*/


@media(max-width: 768px) {

  #calendar .weekdays, #calendar .other-month {
    display: none;
  }

  #calendar li {
    height: auto !important;
    border: 1px solid #ededed;
    width: 100%;
    padding: 10px;
    margin-bottom: -1px;
  }
  
  #calendar, #calendar tr, #calendar tbody {
    grid-template-columns: 1fr;
  }
  
  #calendar  tr {
    grid-column: 1 / 2;
  }

  #calendar .date {
    align-self: flex-start;
  }
}



time {
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 38px;
}
time em {
  display: block;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

header {
  padding: 50px 0;
  background: #4ecdc4;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
header a {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 20px;
  background: #44b3ab;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}
header a:hover {
  background: #249991;
  color: #ccc;
}

[role="main"] {
  overflow: hidden;
  padding: 15px;
  background: white;
  font-family: "Helvetica";
}

section ul {
  list-style-type: none;
}
section li {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 20px;
  zoom: 1;
  *display: inline;
}

.l-date--event {
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.l-date--event:hover {
  background: #efefef;
}

.m-bullet--event {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #ff6b6b;
}

.m-box--weeks {
  color: #e66b6b;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}

.m-box--date {
  color: #555;
  font-size: 14px;
}

.l-date--passed {
  color: #bababa;
}

/*new*/
.eventTip {
  position: absolute;
  width: 150px;
  left: 50%;
  top: -125%;
  margin-left: -75px;
  background: #249991;
  color: white;
}
.eventTip:before {
  content: "▾";
  position: absolute;
  font-size: 25px;
  color: #249991;
  bottom: -19px;
  left: 46%;
}
/*.containerEvent{

  width: 350px;
}*/
.outerlayer
{ 
  background: rgba(0,0,0,0.8);
  color: black;
  padding:1.870rem;
  height:auto;
  margin-top: 5px;
}
.containers {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.containers input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}


.containers:hover input ~ .checkmark {
  background-color: #ccc;
}


.containers input:checked ~ .checkmark {
  background-color: #2196F3;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.containers input:checked ~ .checkmark:after {
  display: block;
}


.containers .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

    .panel.price,
    .panel.price>.panel-heading{
      border-radius:0px;
       -moz-transition: all .3s ease;
      -o-transition:  all .3s ease;
      -webkit-transition:  all .3s ease;
    }
    .panel.price:hover{
      box-shadow: 0px 0px 30px rgba(0,0,0, .2);
    }
    .panel.price:hover>.panel-heading{
      box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
    }
    
        
    .panel.price>.panel-heading{
      box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
      text-shadow:0px 3px 0px rgba(50,50,50, .6);
    }
      
    .price .list-group-item{
      border-bottom-:1px solid rgba(250,250,250, .5);
    }
    
    .panel.price .list-group-item:last-child {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    .panel.price .list-group-item:first-child {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
    }
    
    .price .panel-footer {
      color: #fff;
      border-bottom:0px;
      background-color:  rgba(0,0,0, .1);
      box-shadow: 0px 3px 0px rgba(0,0,0, .3);
    }
    
    
    .panel.price .btn{
      box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
      border:0px;
    }
    
  /* green panel */
  
    
    .price.panel-green>.panel-heading {
      color: #fff;
      background-color: #57AC57;
      border-color: #71DF71;
      border-bottom: 1px solid #71DF71;
    }
    
      
    .price.panel-green>.panel-body {
      color: #fff;
      background-color: #65C965;
    }
        
    
    .price.panel-green>.panel-body .lead{
        text-shadow: 0px 3px 0px rgba(50,50,50, .3);
    }
    
    .price.panel-green .list-group-item {
      color: #333;
      background-color: rgba(50,50,50, .01);
      font-weight:600;
      text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    }
    
    /* blue panel */
  
    
    .price.panel-blue>.panel-heading {
      color: #fff;
      background-color: #608BB4;
      border-color: #78AEE1;
      border-bottom: 1px solid #78AEE1;
    }
    
      
    .price.panel-blue>.panel-body {
      color: #fff;
      background-color: #73A3D4;
    }
        
    
    .price.panel-blue>.panel-body .lead{
        text-shadow: 0px 3px 0px rgba(50,50,50, .3);
    }
    
    .price.panel-blue .list-group-item {
      color: #333;
      background-color: rgba(50,50,50, .01);
      font-weight:600;
      text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    }
    
    /* red price */
    
  
    .price.panel-red>.panel-heading {
      color: #fff;
      background-color: #D04E50;
      border-color: #FF6062;
      border-bottom: 1px solid #FF6062;
    }
    
      
    .price.panel-red>.panel-body {
      color: #fff;
      background-color: #EF5A5C;
    }
    
    
    
    
    .price.panel-red>.panel-body .lead{
        text-shadow: 0px 3px 0px rgba(50,50,50, .3);
    }
    
    .price.panel-red .list-group-item {
      color: #333;
      background-color: rgba(50,50,50, .01);
      font-weight:600;
      text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    }
    
    /* grey price */
    
  
    .price.panel-grey>.panel-heading {
      color: #fff;
      background-color: #6D6D6D;
      border-color: #B7B7B7;
      border-bottom: 1px solid #B7B7B7;
    }
    
      
    .price.panel-grey>.panel-body {
      color: #fff;
      background-color: #808080;
    }
    

    
    .price.panel-grey>.panel-body .lead{
        text-shadow: 0px 3px 0px rgba(50,50,50, .3);
    }
    
    .price.panel-grey .list-group-item {
      color: #333;
      background-color: rgba(50,50,50, .01);
      font-weight:600;
      text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    }
    
    /* white price */
    
  
    .price.panel-white>.panel-heading {
      color: #333;
      background-color: #f9f9f9;
      border-color: #ccc;
      border-bottom: 1px solid #ccc;
      text-shadow: 0px 2px 0px rgba(250,250,250, .7);
    }
    
    .panel.panel-white.price:hover>.panel-heading{
      box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset;
    }
      
    .price.panel-white>.panel-body {
      color: #fff;
      background-color: #dfdfdf;
    }
        
    .price.panel-white>.panel-body .lead{
        text-shadow: 0px 2px 0px rgba(250,250,250, .8);
        color:#666;
    }
    
    .price:hover.panel-white>.panel-body .lead{
        text-shadow: 0px 2px 0px rgba(250,250,250, .9);
        color:#333;
    }
    
    .price.panel-white .list-group-item {
      color: #333;
      background-color: rgba(50,50,50, .01);
      font-weight:600;
      text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    }


/* Style 3*/
/*start sidenav*/
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #5B1D24;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background:  #A6373F;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.75em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;  
    background:  #A6373F;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #5B1D24;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #5B1D24 ;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/*end sidenav*/


/*-----Dashboard panels-----*/

.panel-primary .panel-footer span{ color: #337ab7 }
.panel-primary .panel-footer:hover { background-color: #337ab7; transition: all 0.2s ease-in }
.panel-primary .panel-footer:hover span { color: #fff }

.panel-green { border:1px solid #4CAF50; }
.panel-green .panel-heading{ border:1px solid #4CAF50; background-color: #4CAF50 }
.panel-green .panel-footer span{ color: #4CAF50 }
.panel-green .panel-footer:hover { background-color: #4CAF50; transition: all 0.2s ease-in }
.panel-green .panel-footer:hover span { color: #fff }

.panel-red { border:1px solid #FF5722; }
.panel-red .panel-heading{ border:1px solid #FF5722; background-color: #FF5722 }
.panel-red .panel-footer span{ color: #FF5722 }
.panel-red .panel-footer:hover { background-color: #FF5722; transition: all 0.2s ease-in }
.panel-red .panel-footer:hover span { color: #fff }

.panel-yellow { border:1px solid #FFC107; }
.panel-yellow .panel-heading{ border:1px solid #FFC107; background-color: #FFC107 }
.panel-yellow .panel-footer span{ color: #FFC107 }
.panel-yellow .panel-footer:hover { background-color: #FFC107; transition: all 0.2s ease-in }
.panel-yellow .panel-footer:hover span { color: #fff }

/*-----Breadcrumbs-----*/

.page-title-box{
      border-bottom: 1px solid #337ab7;
    margin-bottom: 30px;
}
.breadcrumb{
  margin-top: 14px;
  margin-bottom: 0;
  background-color: transparent;
}

/*-----List Group-----*/

.list-group {
    height: auto;
    overflow: auto;
}

/*-----Data Tables-----*/

/*-----Extra classes-----*/
.marr20{
  margin-right: 20px;
}
.padd20{
  padding:20px;
}
.footer{
  background-color: #ccc;
  padding:5px;
}

::-webkit-scrollbar,{
  width:5px;
}
::-webkit-scrollbar-track {
      background-color: #337ab7;
}
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
}
::-webkit-scrollbar-button {
      background-color: #d9edf7;
}
::-webkit-scrollbar-corner {
      background-color: black;
}

/*-----Media classes-----*/

@media (max-width: 768px){
  .navbar-right li:nth-child(n){
    display:none;
  }
  .navbar-right li:last-child{
    display: block;
  }
  .side-menu{
    margin-left:-250px;
    z-index: 999;
  }
  .marr20 {
    margin-right: 0px;
  }
}
.bordered {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: .3rem;
}
.hrcontainer{
  padding: 30px;
}
.row{
  padding: 25px;
  }
.cardevent{
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
}

/*tabs*/

.tabs {
  max-width: 90%;
  float: none;
  list-style: none;
  padding: 0;
  margin: 75px auto;
  border-bottom: 4px solid #ccc;
}
.tabs:after {
  content: "";
  display: table;
  clear: both;
}
.tabs input[type="radio"] {
  display: none;
}
.tabs label {
  display: block;
  float: left;
  width: 33.3333%;
  color: #ccc;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  line-height: 2;
  cursor: pointer;
  box-shadow: inset 0 4px #ccc;
  border-bottom: 4px solid #ccc;
  -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
  transition: all 0.5s;
}
.tabs label span {
  display: none;
}
.tabs label i {
  padding: 5px;
  margin-right: 0;
}
.tabs label:hover {
  color: #3498db;
  box-shadow: inset 0 4px #3498db;
  border-bottom: 4px solid #3498db;
}
.tab-content {
  display: none;
  width: 100%;
  float: left;
  padding: 15px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.tab-content * {
  -webkit-animation: scale 0.7s ease-in-out;
  -moz-animation: scale 0.7s ease-in-out;
  animation: scale 0.7s ease-in-out;
}
@keyframes scale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  50% {
    transform: scale(1.01);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.tabs [id^="tab"]:checked + label {
  background: #fff;
  box-shadow: inset 0 4px #3498db;
  border-bottom: 4px solid #3498db;
  color: #3498db;
}
#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3 {
  display: block;
}
@media (min-width: 768px) {
  .tabs i {
    padding: 5px;
    margin-right: 10px;
  }
  .tabs label span {
    display: inline-block;
  }
  .tabs {
    max-width: 950px;
    margin: 50px auto;
  }
}
.icon_nav{
  font-size: 28px;
}

/* vertical tab . . . . . .*/
.tabnav {
  float: left;
  border: 1px solid #ccc;
  background-color: #d1d1d1;
  width: 25%;
  height: auto;
  margin-top: 8px;
}
.tabnav button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}
.tabnav button:hover {
  background-color: #D46A6A;
}
.tabnav button.active {
  background-color: #D46A6A;
}
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: auto;
  margin-top: 8px;
  background-color: white;
}
/* tab_customer_content*/
#myInput {
  background-image: url('../images/loupe.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
input.csr{
  width: 50%;
}
table.csr{
  width: 100%;
}

/*e-table*/
.etable{
  background-color: #7E3131;
  border-radius: 25px;
}
.wit{
  color: #fff;
}


/*transaction list-Accounting*/
#transaction {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#transaction td, #transaction th {
  border: 1px solid #ddd;
  padding: 8px;
}

#transaction tr:nth-child(even){background-color: #f2f2f2;}

#transaction tr:hover {background-color: #ddd;}

#transaction th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.accounting_back{
  background-image:url('../images/white.jpg');
  margin: auto;
  filter: blur(8px);
  -webkit-filter: blur(8px);
 height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

button.save{
  padding: 5px;
  padding-left:20px ;
  padding-right:20px;
}

/*Pie chart*/
@-webkit-keyframes bake-pie {
  from {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bake-pie {
  from {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
.pie-chart {
  font-family: "Open Sans", Arial;
}
.pie-chart--wrapper {
  width: 300px;
  margin: 30px auto;
  text-align: center;
}
.pie-chart__pie, .pie-chart__legend {
  display: inline-block;
  vertical-align: top;
}
.pie-chart__pie {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 10px auto 35px;
}
.pie-chart__pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  background: #EEE;
  border-radius: 50%;
  top: 50px;
  left: 50px;
}
.pie-chart__pie::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
  margin: 220px auto;
}

.slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  -webkit-animation: bake-pie 1s;
          animation: bake-pie 1s;
}
.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
}

.pie-chart__legend {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  background: #FFF;
  padding: 0.75em 0.75em 0.05em;
  font-size: 13px;
  box-shadow: 1px 1px 0 #DDD, 2px 2px 0 #BBB;
  text-align: left;
  width: 65%;
}
.pie-chart__legend li {
  height: 1.25em;
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  border-left: 1.25em solid black;
}
.pie-chart__legend em {
  font-style: normal;
}
.pie-chart__legend span {
  float: right;
}

.pie-charts {
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .pie-charts {
    flex-direction: column;
  }
}
/*Bar Chart*/

.pen-title {
  color: black;
  margin-bottom: 0;
  text-align: center;
  text-shadow: 1px 1px 0 #000;
}

.pen-description {
  color: #FFFFFF;
  margin-bottom: 3rem;
  text-align: center;
  text-shadow: 1px 1px 0 #000;
}
.pen-description a {
  color: #FFFFFF;
  text-decoration: underline;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  height: auto;
  max-width: 100%;
}

.wrap {
  max-width: 85.375rem;
  margin: 0 auto;
}

.image-as-background {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.screen-reader-text {
  height: auto;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
}
.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
  height: auto;
  width: auto;
  background-color: #000000;
  border-radius: 2px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #FFFFFF;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  left: 0.3125rem;
  line-height: normal;
  padding: 0.9375rem 1.4375rem 0.875rem;
  text-decoration: none;
  top: 0.3125rem;
  z-index: 100000;
}

@-webkit-keyframes animation-lightspeed-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animation-lightspeed-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.chart-wrapper {
  margin: 0 auto;
  max-width: 60rem;
  width: 80%;
}

.chart-horizontal {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.chart-horizontal::after {
  clear: both;
  content: "";
  display: block;
}
.chart-horizontal .chart-bar-label {
  color: #FFFFFF;
  line-height: 1.625rem;
  margin-left: 0.3125rem;
}
.chart-horizontal .chart-bar {
  -webkit-animation: 1s animation-lightspeed-in ease forwards;
          animation: 1s animation-lightspeed-in ease forwards;
  background: #000000;
  height: 1.625rem;
  margin: 0.3125rem 0;
  opacity: 0;
  overflow: hidden;
}
.chart-horizontal .chart-bar:nth-of-type(10) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.chart-horizontal .chart-bar:nth-of-type(9) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
.chart-horizontal .chart-bar:nth-of-type(8) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
.chart-horizontal .chart-bar:nth-of-type(7) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.chart-horizontal .chart-bar:nth-of-type(6) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.chart-horizontal .chart-bar:nth-of-type(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.chart-horizontal .chart-bar:nth-of-type(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.chart-horizontal .chart-bar:nth-of-type(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.chart-horizontal .chart-bar:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.chart-horizontal .chart-bar:nth-of-type(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.chart-horizontal .chart-bar[data-skill="10"] {
  width: 10%;
}
.chart-horizontal .chart-bar[data-skill="20"] {
  width: 20%;
}
.chart-horizontal .chart-bar[data-skill="30"] {
  width: 30%;
}
.chart-horizontal .chart-bar[data-skill="40"] {
  width: 40%;
}
.chart-horizontal .chart-bar[data-skill="50"] {
  width: 50%;
}
.chart-horizontal .chart-bar[data-skill="60"] {
  width: 60%;
}
.chart-horizontal .chart-bar[data-skill="70"] {
  width: 70%;
}
.chart-horizontal .chart-bar[data-skill="80"] {
  width: 80%;
}
.chart-horizontal .chart-bar[data-skill="90"] {
  width: 90%;
}
.chart-horizontal .chart-bar[data-skill="100"] {
  width: 100%;
}
/*Task List*/
.tasks {
  margin: 40px auto;
  width: 240px;
  background: white;
  border: 1px solid #cdd3d7;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.tasks-header {
  position: relative;
  line-height: 24px;
  padding: 7px 15px;
  color: #5d6b6c;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  background: #f0f1f2;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, #f5f7fd, #e6eaec);
  background-image: -moz-linear-gradient(top, #f5f7fd, #e6eaec);
  background-image: -o-linear-gradient(top, #f5f7fd, #e6eaec);
  background-image: linear-gradient(to bottom, #f5f7fd, #e6eaec);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 1px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 1px rgba(0, 0, 0, 0.03);
}

.tasks-title {
  line-height: inherit;
  font-size: 12px;
  font-weight: bold;
  color: inherit;
}

.tasks-lists {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -11px;
  padding: 10px 4px;
  width: 19px;
  height: 3px;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}

.tasks-lists:before {
  content: '';
  display: block;
  height: 3px;
  background: #8c959d;
  border-radius: 1px;
  -webkit-box-shadow: 0 6px #8c959d, 0 -6px #8c959d;
  box-shadow: 0 6px #8c959d, 0 -6px #8c959d;
}

.tasks-list-item {
  display: block;
  line-height: 24px;
  padding: 12px 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tasks-list-item + .tasks-list-item {
  border-top: 1px solid #f0f2f3;
}

.tasks-list-cb {
  display: none;
}

.tasks-list-mark {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
  width: 20px;
  height: 20px;
  border: 2px solid #c4cbd2;
  border-radius: 12px;
}

.tasks-list-mark:before {
  content: '';
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -6px;
  height: 4px;
  width: 8px;
  border: solid #39ca74;
  border-width: 0 0 4px 4px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.tasks-list-cb:checked ~ .tasks-list-mark {
  border-color: #39ca74;
}

.tasks-list-cb:checked ~ .tasks-list-mark:before {
  display: block;
}

.tasks-list-desc {
  font-weight: bold;
  color: #8a9a9b;
}

.tasks-list-cb:checked ~ .tasks-list-desc {
  color: #34bf6e;
  text-decoration: line-through;
}
/*notification*/
.top-text-block{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: inherit !important;
  border-bottom:1px solid #f4f4f4;
  position:relative;
  &:hover {
        &:before {
        content: '';
        width: 4px;
        background: #f05a1a;
        left: 0;
        top: 0;
        bottom: 0;
        position: absolute;
    } 
  }
  &.unread {
    background:#ffc;
  }
  

}   

.top-head-dropdown {
  .dropdown-menu {
   width: 350px;
    height:300px;
    overflow:auto;
  }
  
  li:last-child{
    .top-text-block {
      border-bottom:0;
    }
  }
}
.topbar-align-center {
  text-align: center;
}
.loader-topbar {
  margin: 5px auto;
  border: 3px solid #ddd;
  border-radius: 50%;
  border-top: 3px solid #666;
  width: 22px;
  height: 22px;
  -webkit-animation: spin-topbar 1s linear infinite;
  animation: spin-topbar 1s linear infinite;
}

@-webkit-keyframes spin-topbar {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin-topbar {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*dashboard list*/
.scrollspy-example {
    position: relative;
    height: 200px;
    margin-top: .5rem;
    overflow: auto;
}

/*footer*/


